     body{
		font-family:'Open Sans',sans-serif;
		}

		h1{
			margin-left:1%;
			font-size: 64px;
			font-weight: 300;
			letter-spacing: -2px;
			margin: .3em 0 .1em 0;
			-webkit-margin-before: 0.67em;
			-webkit-margin-after: 0.67em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
		}
		#container{
			width : 90%;
			height:100%;
			margin: 0 5%;
		}
        #chart{
            position: absolute;
            top: 0;
        }


        rect {
            pointer-events: all;
            cursor: pointer;
        }

        .chart {
            display: block;
            margin: auto;
            margin-top: 40px;
        }

        .label {
            stroke: #ffffff;
            fill: #ffffff;
            stroke-width: 0;
            padding: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .parent .label {
            font-size: 12px;
            stroke: #FFFFFF;
            fill: #FFFFFF;
			font-family:Tahoma;
			font-weight:bold;
        }

        .child .label {
            font-size: 11px;
        }

        .cell {
            font-size: 11px;
            cursor: pointer
        }